<div class="event">
  <div class="content">
    <div class="summary">
        <em class="<%= session[:user_id] == message.user.id ? "text-green" : "text-orange" %>"><%= message.user.username %></em> : <%= message.body %>
    </div>
  </div>
</div>
