<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Chatroom
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="messages">
                <div id="message-container" class="ui feed">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
            <%= form_for(@message, html:{class: "ui fluid action input", role: "form"}, url: message_path, remote: true) do |f| %>
                    <%=f.text_field :body, placeholder: "your message...", class: ""%>
                    <%= f.button "Send message",class: "ui orange button" %>
            <% end %>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui raised card chatbox">
            <div class="content">
                <div class="ui secondary vertical menu">
                    <a class="active item">
                        Account
                    </a>
                    <a class="item">
                        Settings
                    </a>
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        Display Options
                        <div class="menu">
                        <div class="header">Text Size</div>
                        <a class="item">Small</a>
                        <a class="item">Medium</a>
                        <a class="item">Large</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>