@import "semantic-ui";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

body {
  font-family: "Raleway", sans-serif !important;
}

.main {
  padding: 25px;
}

div.menu {
  border-radius: 0 !important;
}
.ui.vertical.menu {
  width: auto;
}
.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}
.ui.feed > .event {
  padding: 0 !important;
}
.text-orange {
  color: #f2711c;
}

.text-green {
  color: #076121;
}

@media only screen and (max-width: 768px) {
  .login-or {
    display: none;
  }
}
